{
    "version" : "2017-02-28",
    "operation" : "DeleteItem",
    "key": {
        "id": $util.dynamodb.toDynamoDBJson($ctx.args.id)
    },
    "condition": {
        "expression" : "owner = :owner",
        "expressionValues" : {
            ":owner" : $util.dynamodb.toDynamoDBJson($context.identity.username)
        }
    }
}