{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
        "expression": "#ID = :id",
        "expressionNames": {
            "#ID": "id",
        },
        "expressionValues" : {
            ":id" : $util.dynamodb.toDynamoDBJson("$ctx.source.id")
        },
    },
    "limit": $util.defaultIfNull(${ctx.args.limit}, 20),
    "nextToken": $util.toJson($util.defaultIfNullOrBlank($ctx.args.nextToken, null))
}